@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

:root {
    --fstick-source-image: url(https://imgur.com/Cdxibvo.png);

    --a-top: 230px;
    --b-top: calc(var(--a-top) - var(--diag-vert-clearance));
    --x-top: calc(var(--a-top) - var(--vert-clearance));
    --y-top: calc(var(--x-top) - var(--diag-vert-clearance));
    --rb-top: var(--y-top);
    --lb-top: var(--rb-top);
    --rt-top: calc(var(--rb-top) - 183px + var(--vert-clearance));
    --lt-top: var(--rt-top);

    --a-left: 0px;
    --b-left: calc(var(--a-left) + var(--diag-horz-clearance));
    --x-left: var(--a-left);
    --y-left: calc(var(--a-left) + var(--diag-horz-clearance));
    --rb-left: calc(var(--y-left) + var(--horz-clearance));
    --lb-left: calc(var(--rb-left) + var(--horz-clearance));
    --rt-left: calc(var(--rb-left) + 31px);
    --lt-left: calc(var(--rt-left) + var(--horz-clearance));

    --dir-right-top: calc(var(--x-top) + 62px + 75px);
    --dir-right-left: calc(var(--x-left) + 472px - 150px);
    --dir-down-top: calc(var(--dir-right-top) - var(--diag-vert-clearance));
    --dir-down-left: calc(var(--dir-right-left) - var(--diag-horz-clearance));
    --dir-left-top: var(--dir-down-top);
    --dir-left-left: calc(var(--dir-down-left) - var(--horz-clearance));
    --dir-up-top: calc(var(--dir-right-top) + 230px);
    --dir-up-left: calc(var(--dir-right-left) + 75px);

    --vert-clearance: 160px;
    --diag-vert-clearance: 80px;
    --diag-horz-clearance: 140px;
    --horz-clearance: var(--vert-clearance);
}

.controller.fight-stick {
    background: transparent;
    background-color: rgba(58,58,57,0.3);
    border-radius: 40px;
    height: 400px;
    width: 800px;
}

.fight-stick.disconnected {
    margin:auto;
    width:50%;
    height:50%;
    background: url(https://imgur.com/oDdTc1t.png) no-repeat;
}

/* start/back */

.fight-stick .back {
    display: none;
}

.fight-stick .start {
    display: none;
}

/* Face buttons */

.fight-stick .button {
    width: 120px;
    height: 120px;
}

.fight-stick .abxy {
  left: 260px;
}

.fight-stick .a {
    top: 300px;
    left: 0px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120"><circle cx="60" cy="60" r="55" fill="rgb(192, 192, 192)" /><text x="50%" y="50%" font-family="Source Code Pro, monospace" font-weight="600" font-size="60" text-anchor="middle" fill="%23333333" dy=".3em">A</text></svg>');
}

.fight-stick .a.pressed {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120"><circle cx="60" cy="60" r="55" fill="rgb(192, 192, 192)" /><text x="50%" y="50%" font-family="Source Code Pro, monospace" font-weight="600" font-size="60" text-anchor="middle" fill="%23333333" dy=".3em">A</text></svg>');
}

.fight-stick .b {
    top: var(--b-top);
    left: var(--b-left);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><circle cx="75" cy="75" r="70" fill="rgb(192, 192, 192)" /><text x="50%" y="50%" font-family="Source Code Pro, monospace" font-weight="600" font-size="60" text-anchor="middle" fill="%23333333" dy=".3em">B</text></svg>');
}

.fight-stick .b.pressed {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><circle cx="75" cy="75" r="70" fill="white" /><text x="50%" y="50%" font-family="Source Code Pro, monospace" font-weight="600" font-size="60" text-anchor="middle" fill="%23333333" dy=".3em">B</text></svg>');
}

.fight-stick .x {
    top: var(--x-top);
    left: var(--x-left);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><circle cx="75" cy="75" r="70" fill="rgb(192, 192, 192)" /><text x="50%" y="50%" font-family="Source Code Pro, monospace" font-weight="600" font-size="60" text-anchor="middle" fill="%23333333" dy=".3em">X</text></svg>');
}

.fight-stick .x.pressed {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><circle cx="75" cy="75" r="70" fill="white" /><text x="50%" y="50%" font-family="Source Code Pro, monospace" font-weight="600" font-size="60" text-anchor="middle" fill="%23333333" dy=".3em">X</text></svg>');
}

.fight-stick .y {
    top: var(--y-top);
    left: var(--y-left);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><circle cx="75" cy="75" r="70" fill="rgb(192, 192, 192)" /><text x="50%" y="50%" font-family="Source Code Pro, monospace" font-weight="600" font-size="60" text-anchor="middle" fill="%23333333" dy=".3em">Y</text></svg>');
}

.fight-stick .y.pressed {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><circle cx="75" cy="75" r="70" fill="white" /><text x="50%" y="50%" font-family="Source Code Pro, monospace" font-weight="600" font-size="60" text-anchor="middle" fill="%23333333" dy=".3em">Y</text></svg>');
}

.fight-stick .button.pressed {
    transform: translateY(0px);
    -webkit-filter: invert(0);
}

/* Bumpers */

.fight-stick .bumper {
    width: 150px;
    height: 150px;
}

.fight-stick .bumper.right {
    position: absolute;
    top: var(--rb-top);
    left: var(--rb-left);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><circle cx="75" cy="75" r="70" fill="rgb(192, 192, 192)" /><text x="50%" y="50%" font-family="Source Code Pro, monospace" font-weight="600" font-size="60" text-anchor="middle" fill="%23333333" dy=".3em">RB</text></svg>');
}

.fight-stick .bumper.right.pressed {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><circle cx="75" cy="75" r="70" fill="white" /><text x="50%" y="50%" font-family="Source Code Pro, monospace" font-weight="600" font-size="60" text-anchor="middle" fill="%23333333" dy=".3em">RB</text></svg>');
}

.fight-stick .bumper.left {
    display: none;
}

.fight-stick .bumper.left.pressed {
    display: none;
}

.fight-stick .bumper.pressed {
    transform: translateY(0px);
    -webkit-filter: invert(0);
}

/* Triggers */

.fight-stick .trigger-button {
    width: 150px;
    height: 150px;
}

.fight-stick .trigger-button.right {
    position: absolute;
    top: var(--rt-top);
    left: var(--rt-left);
    float: left;
    background: #333333;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><circle cx="75" cy="75" r="70" fill="rgb(192, 192, 192)" /><text x="50%" y="50%" font-family="Source Code Pro, monospace" font-weight="600" font-size="60" text-anchor="middle" fill="%23333333" dy=".3em">RT</text></svg>');
}

.fight-stick .trigger-button.right.pressed {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150"><circle cx="75" cy="75" r="70" fill="white" /><text x="50%" y="50%" font-family="Source Code Pro, monospace" font-weight="600" font-size="60" text-anchor="middle" fill="%23333333" dy=".3em">RT</text></svg>');
}

.fight-stick .trigger-button.left {
    display: none;
}

.fight-stick .trigger-button.left.pressed {
    display: none;
}

.fight-stick .trigger-button {
    background: #333333;
}

.fight-stick .trigger-button.pressed {
    transform: translateY(0px);
    -webkit-filter: invert(0);
}

/* L3/R3 */

.fight-stick .quadrant {
    display: none;
}

/* Stick */

.fight-stick .fstick {
    position: absolute;
    left: 0px;
    top: 100px;
    width: 300px;
    height: 300px;
    background: url(arcade/stick.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.fight-stick .fstick.up {
    background: url(arcade/stick-up.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.fight-stick .fstick.down {
    background: url(arcade/stick-down.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.fight-stick .fstick.left {
    background: url(arcade/stick-left.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.fight-stick .fstick.right {
    background: url(arcade/stick-right.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.fight-stick .fstick.up.right {
    background: url(arcade/stick-up-right.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.fight-stick .fstick.up.left {
    background: url(arcade/stick-up-left.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.fight-stick .fstick.down.right {
    background: url(arcade/stick-down-right.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.fight-stick .fstick.down.left {
    background: url(arcade/stick-down-left.png);
    background-size: contain;
    background-repeat: no-repeat;
}
